
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/* FOOTER
/*--------------------------------------------- */

footer {
    background: rgba(32, 30, 29, 1);
    position: relative;
    nav {
        padding: 2% 0;
        li {
            width: 24.5%;
            display: inline-block;
            margin-right: -4px;
            a {
                display: block;
                padding: 5%;
                text-align: center;
                color: #fff;
                text-shadow:
                            0px 0px 4px rgba(250, 250, 250, 0.3)
                            ;
                text-decoration: none;
                font-family: 'RepublikSerifW01-03Alt', serif;
                -webkit-font-smoothing: antialiased;
                &:hover {
                    color: rgba( 198, 43, 46, 1 );
                    text-shadow:
                                0px 0px 8px rgba(234, 53, 56, 0.2)
                                ;
                }
                .sub {
                    width: 100%;
                    display: inline-block;
                    padding: 6% 0 0;
                    font-size: 2.2em;
                }
            }
        }
    }
    .site-info {
        font-size: 0.8em;
        display: inline-block;
        width: 98%;
        padding: 1% 1% 0;
        .left {
            float: left;
        }
        .right {
            float: right;
        }
    }
}
