/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/* =WEBKIT FIXES
/*--------------------------------------------- */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.site { font-size:12pt; }
  	.main-navigation li:after {
  		top:19%;
	}
}



/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/* SMALL DESKTOP VIEW
/*--------------------------------------------- */
@media screen and (max-width: 1152px) {
    .pagination .next-page,
    .pagination .prev-page {
        width: 46%;
    }
    #blogroll article {
        width: 33.3333333%;
    }
	#blogroll article .titles .entry-title {
        font-size: 0.9em;
		padding: 65px 2% 0px;
    }
    #blogroll article .titles .entry-meta .posted-on {
        font-size: 0.9em;
    }
    #blogroll article .text {
        font-size: 0.9em;
    }
	#blogroll .pagination .last {
		bottom: 4%;
	}
}



/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/* TABLET VIEW
/*--------------------------------------------- */
@media screen and (max-width: 800px) {
    .pagination .current{
        margin-bottom: 20px;
    }
    #blogroll .pagination .next-page,
    #blogroll .pagination .prev-page {
        width: 44%;
    }
	#blogroll .pagination .last {
		bottom: -2%;
	}
	#blogroll .pagination .next-page .next .triangle-right {
		margin: 1% 2% 2% 4%;
	}
	#blogroll .pagination .next-page .next .triangle-left {
		margin: 1% 2% 2% 4%;
	}
    #blogroll article {
        width: 50%;
    }
	.archive-header {
	    h3 {
			padding: 8% 0 6%;
	        font-size: 1.6em;
		}
	}
    .single .post-navigation .nav-next,
    .single .post-navigation .nav-previous {
        position: relative;
    }
    .single .post-navigation .nav-next .meta-nav {
        right: -9%;
        top: -0.2em;
    }
    .single .post-navigation .nav-previous .meta-nav {
        left: -9%;
        top: -0.2em;
    }
    footer nav li {
        width: 50%;
    }
}



/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/* MOBILE VIEW
/*--------------------------------------------- */
@media (max-width: 612px) {
	.main-navigation h3 {
		padding-bottom: 36px;
	}
    .menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: none;
		color:#FAF6EF;
	}
	.main-navigation li {
		width: 98%;
	}
	#carousel {
		article {
			.featuredImage {
				.titles {
					h3 {
						font-size: 1.2em;
					}
				}
			}
		}
	}
    .pagination .next-page,
    .pagination .prev-page {
        width: 40%;
    }
	#blogroll .pagination .page-numbers {
    	margin: 3% 2% 6% 2%;
	}
	#blogroll .pagination .next-page .next .triangle-right {
		left: 4%;
	}
	#blogroll .pagination .next-page .next .triangle-left {
		right: 4%;
	}
	#blogroll .pagination .last {
    	bottom: -2px;
	}
    #blogroll article {
        width: 100%;
    }
    #blogroll article .titles .entry-title {
        font-size: 1.1em;
    }
    #blogroll article .titles .entry-meta .posted-on {
        font-size: 1.1em;
    }
    #blogroll article .text {
        font-size: 1.05em;
    }
	.archive-header {
	    h3 {
	        font-size: 1.2em;
			padding: 9% 0 7%;
		}
	}
    .single .post-navigation .nav-next,
    .single .post-navigation .nav-previous {
        padding: 7% 14%;
        width: 74%;
        display: block;
    }
    .single .post-navigation .nav-next .meta-nav {
        top: 31%;
        right: -3%;
    }
    .single .post-navigation .nav-previous .meta-nav {
        top: 12%;
        left: -3%;
    }
	.single {
		.writers {
        	.author {
            	width: 48%;
			}
		}
	}
	footer {
		.site-info {
			.left {
				float: none;
				width: 100%;
				text-align: center;
			}
			.right {
				float: none;
				width: 100%;
				text-align: center;
			}
		}
	}
}
