
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/*--------------------------------------------- */
/* WIDGETS
/*--------------------------------------------- */
.widget-title {
    font-size: 1.8em;
    margin: 4% 0 2%;
    text-align: center;
}
